dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.o
*.so
*.rlib
*.dll
*.exe
/target/
*.hpi
*.DS_store
.idea
CTypes_hsc.c
CTypes_hsc.h
CTypes.hs
docsets/
.stack-work/
*.tix
*.swp
*.bak
